body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #00704bc5; /* Color de fondo ajustado */
    color: black;
}

h1 {
    color: black; /* Color del título ajustado */
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.left-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right-container {
    flex: 1;
    background: #b8b8b8; /* Color de fondo ajustado */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-container,
.control-panel-container {
    background: #b8b8b8; /* Color de fondo ajustado */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background: #00704bc5; /* Color de fondo ajustado */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background: #00704b; /* Color de fondo ajustado */
}

#productList {
    padding: 0;
    list-style: none;
}

#productList li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#productControlPanel {
    margin-top: 20px;
}

.product-item {
    margin-bottom: 20px;
}

.product-item strong {
    display: block;
    font-weight: bold;
}

.product-item span {
    display: block;
    margin-bottom: 10px;
}

.product-image {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}
